In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress


url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2021-01-01&endtime=2021-01-31'
tables = pd.read_csv(url)
quake_df = pd.DataFrame(tables)
quake_df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-01-30T23:57:43.470Z,51.841833,-178.581000,22.48,1.44,ml,10.0,174.0,NaN,0.15,...,2021-02-01T00:31:05.880Z,"134 km W of Adak, Alaska",earthquake,1.42,0.92,0.347473,10.0,reviewed,av,av
1,2021-01-30T23:51:19.680Z,38.030167,-118.800167,9.59,1.87,md,25.0,103.0,0.292,0.05,...,2021-02-04T21:02:09.323Z,"27km SE of Bodie, CA",earthquake,0.22,2.53,0.253000,23.0,reviewed,nc,nc
2,2021-01-30T23:36:27.503Z,59.183200,-136.452400,7.60,1.70,ml,NaN,NaN,NaN,0.59,...,2021-02-12T20:50:18.719Z,"35 km SW of Covenant Life, Alaska",earthquake,NaN,0.20,NaN,NaN,reviewed,ak,ak
3,2021-01-30T23:27:23.670Z,61.024800,-150.391900,16.60,1.40,ml,NaN,NaN,NaN,0.65,...,2021-02-12T20:50:18.483Z,"19 km NE of Point Possession, Alaska",earthquake,NaN,0.30,NaN,NaN,reviewed,ak,ak
4,2021-01-30T23:24:29.437Z,62.973900,-149.063900,77.00,1.20,ml,NaN,NaN,NaN,0.36,...,2021-02-12T20:50:18.265Z,Central Alaska,earthquake,NaN,0.20,NaN,NaN,reviewed,ak,ak

In [3]:
len(quake_df)

13781